{%- assign _publication = include.publication -%}
<li>
  <!-- title -->
  <strong>{{ _publication.title }}</strong>
  {%- if _publication.doi -%}
  {%- if _publication.doi == "accepted" -%}
  {{ "" }} <span class="detail">(Accepted)</span>
  {%- else -%}
  {{ "" }} [<a href="{{ _publication.doi }}">doi</a>]
  {%- endif -%}
  {%- endif -%}

  <br>

  <!-- authors -->
  {%- assign _authors = _publication.authors -%}
  {%- for _author in _authors -%}
  {%- if forloop.last -%}
  {{ "and " }}
  {%- endif -%}
  {%- assign _our_author = site.data.authors[_author] -%}
  {%- if _our_author %}
  <a href="{{ _our_author.url }}"><strong>{{ _author }}</strong></a>
  {%- else -%}
  {{ _author }}
  {%- endif -%}
  {%- assign remaining = forloop.length | minus: forloop.index0 -%}
  {%- if _publication.co-first > forloop.index0 -%}
  {{ "*" }}
  {%- elsif _publication.co-corr >= remaining -%}
  {{ "†" }}
  {%- endif -%}
  {%- unless forloop.last or _authors.size == 2-%}
  {{ ", " }}
  {%- endunless -%}
  {%- endfor -%}
  {%- if _publication.co-first -%}
  {{ " " }}<span class="detail">(* equally contributed)</span>
  {%- endif -%}
  {%- if _publication.co-corr -%}
  {{ " " }}<span class="detail">(† corresponding authors)</span>
  {%- endif -%}

  <br>

  <!-- conference/workshop/journal -->
    <a href="{{ _publication.target.url }}">
      <strong>{{ _publication.target.name }}</strong>
    </a>
    {%- if _publication.target.detail -%}
    {{ "" }}
    <span class="detail">({{ _publication.target.detail }})</span>
    {%- endif -%}

  <br>

  <!-- awards -->
  {%- if _publication.award -%}
  <strong>🏅 <font color='red'>{{ _publication.award }}</font></strong>
  <br>
  {%- endif -%}

  <!-- links -->
  {%- include links.html data=_publication -%}

  <!-- materials -->
  {%- if _publication.materials.size > 0 -%}
  [ {{ "" }}
  {%- for _pair in _publication.materials -%}
  {%- assign _name = _pair[0] -%}
  {%- assign _link = _pair[1] -%}
  <a href="{{ _link }}">{{ _name }}</a>
  {% unless forloop.last %} | {% endunless %}
  {%- endfor -%}
  ]
  {%- endif -%}
</li>
