{%- assign _talk = include.talk -%}
<li>
  {{ _talk.date }}, <strong>{{ _talk.title }}</strong>
  {%- if _talk.place-url -%}
  , <a href="{{ _talk.place-url }}">{{ _talk.place }}</a>
  {%- else -%}
  , {{ _talk.place }}
  {%- endif -%}
  <div class="talk-links">
    <ul class="menu menu--nowrap menu--inline">
    {%- if _talk.pdf -%}
      <li>
        <a class="button button--circle pdf-button" itemprop="pdf" href="{{ _talk.pdf }}" target="_blank">
          <i class="fas fa-file-pdf"></i>
        </a>
      </li>
    {%- endif -%}

    {%- if _talk.youtube -%}
      <li>
        {% if _talk.yt-start %}
        <a class="button button--circle youtube-button" itemprop="sameAs" href="https://www.youtube.com/watch?v={{ _talk.youtube }}&t={{ _talk.yt-start }}" target="_blank">
        {% else %}
        <a class="button button--circle youtube-button" itemprop="sameAs" href="https://www.youtube.com/watch?v={{ _talk.youtube }}" target="_blank">
        {% endif %}
          <div class="icon">{%- include svg/icon/social/youtube.svg -%}</div>
        </a>
      </li>
    {%- endif -%}
    </ul>
  </div>
</li>
