{%- assign _talk = include.talk -%}
<li>
  <strong>{{ _talk.title }}</strong>
  <br>
  {{ _talk.date }}
  {{ " @ " }}
  {%- if _talk.place-url -%}
  <a href="{{ _talk.place-url }}">{{ _talk.place }}</a>
  {%- else -%}
  {{ _talk.place }}
  {%- endif -%}
  {{ " - " }}
  <div class="author-links">
    <ul class="menu menu--nowrap menu--inline">
    {%- if _talk.pdf -%}
      <li>
        <a class="button button--circle pdf-button" itemprop="pdf" href="{{ _talk.pdf }}" target="_blank">
          <i class="fas fa-file-pdf"></i>
        </a>
      </li>
    {%- endif -%}

    {%- if _talk.youtube -%}
      <li>
        <a class="button button--circle youtube-button" itemprop="sameAs" href="https://www.youtube.com/watch?v={{ _talk.youtube }}" target="_blank">
          <div class="icon">{%- include svg/icon/social/youtube.svg -%}</div>
        </a>
      </li>
    {%- endif -%}
    </ul>
  </div>
</li>
