{%- assign _trip = include.trip -%}
<li>
  {{ _trip.date-from }} - {{ _trip.date-to }}
  <strong>
  {%- if _trip.place-url -%}
  , <a href="{{ _trip.place-url }}">{{ _trip.place }}</a>
  {%- else -%}
  , {{ _trip.place }}
  {%- endif -%}
  &nbsp;@ {{ _trip.location }}
  </strong>
  <br>
  <div class="author-links">
    <ul class="menu menu--nowrap menu--inline">
      {%- if _trip.photos -%}
      <li>
        <a class="button button--circle google-photos-button" itemprop="sameAs"
          href="https://photos.app.goo.gl/{{ _trip.photos }}" target="_blank">
          <div class="icon">{%- include svg/icon/social/google-photos.svg -%}</div>
        </a>
      </li>
      {%- endif -%}

      {%- if _trip.talk -%}
      &nbsp;<strong>|</strong>&nbsp;Talk:&nbsp;
      {%- for _talk in _trip.talk -%}
      <li>
        <a class="button button--circle pdf-button" itemprop="pdf"
          href="{{ _talk.pdf }}" target="_blank">
          <i class="fas fa-file-pdf"></i>
        </a>
      </li>
      {%- endfor -%}
      {%- endif -%}

      {%- if _trip.poster -%}
      &nbsp;<strong>|</strong>&nbsp;Poster:&nbsp;
      {%- for _poster in _trip.poster -%}
      <li>
        <a class="button button--circle pdf-button" itemprop="pdf"
          href="{{ _poster.pdf }}" target="_blank">
          <i class="fas fa-file-pdf"></i>
        </a>
      </li>
      {%- endfor -%}
      {%- endif -%}

      {%- if _trip.report -%}
      &nbsp;<strong>|</strong>&nbsp;Report:&nbsp;
      {%- for _report in _trip.report -%}
      <li>
        <a class="button button--circle pdf-button" itemprop="pdf"
          href="{{ _report.pdf }}" target="_blank">
          <i class="fas fa-file-pdf"></i>
        </a>
      </li>
      {%- endfor -%}
      {%- endif -%}
    </ul>
  </div>
</li>
