{%- assign _trip = include.trip -%}
<li>
  {{ _trip.date-from }} - {{ _trip.date-to }}
  <strong>
  {%- if _trip.place-url -%}
  , <a href="{{ _trip.place-url }}">{{ _trip.place }}</a>
  {%- else -%}
  , {{ _trip.place }}
  {%- endif -%}
  &nbsp;@ {{ _trip.location }}
  </strong>
  <br>
  {%- include links.html data=_trip -%}

  <!-- links for talks -->
  {%- if _trip.talk -%}
  {{ "" }}<strong>|</strong> talk: {{ "" }}
  {%- for _data in _trip.talk -%}
  {%- include links.html data=_data -%}
  {%- endfor -%}
  {%- endif -%}

  <!-- likns for reports -->
  {%- if _trip.report -%}
  {{ "" }}<strong>|</strong> report: {{ "" }}
  {%- for _data in _trip.report -%}
  {%- include links.html data=_data -%}
  {%- endfor -%}
  {%- endif -%}

  <!-- links for posters -->
  {%- if _trip.poster -%}
  {{ "" }}<strong>|</strong> poster: {{ "" }}
  {%- for _data in _trip.poster -%}
  {%- include links.html data=_data -%}
  {%- endfor -%}
  {%- endif -%}
</li>
